<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8" />
            <title>Notation</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      </head>
      <body>
            <div id="header">
                <h1>Notation</h1>
                <p>
                    This is a <b>demo interface</b> for a music recommendation engine <b>prototype API</b>.
                </p>
                <hr />
                <div id="select-user">
                    <label for="user">Select User:</label>
                    <select id="user" name="user">
                        <option>dviggiano</option>
                        <option>music_listener95</option>
                        <option>numbersfromthehatch23</option>
                        <option>notch</option>
                    </select>
                    <button onclick="reset()">Reset listening history</button>
                </div>
            </div>
            <div id="demos">
                <div>
                    <h2>Add Song</h2>
                    <form id="add" enctype="multipart/form-data">
                        <input type="file" id="file-input" accept=".mp3" />
                        <input type="submit" value="Submit" />
                    </form>
                </div>
                <div>
                    <h2>Record Listening Session</h2>
                    <p id="empty">
                        Add some songs first!
                    </p>
                    <p>
                        To add several songs at once, insert the <code>.mp3</code> files you'd like to add
                        into the <code>songs</code> directory, and execute the <code>add.py</code> script.
                    </p>
                    <form id="listen" style="display: none">
                        <label for="song">Song:</label>
                        <select id="song" name="song"></select>
                        <input type="submit" value="Submit" />
                        <br />
                        <input type="number" id="start" placeholder="Enter in seconds...">
                        <label for="start" style="font-size: small">Start Time</label>
                        <br />
                        <input type="number" id="end" placeholder="Enter in seconds...">
                        <label for="end"  style="font-size: small">End Time</label>
                    </form>
                </div>
                <div>
                    <h2>Get Recommendations</h2>
                    <form id="recommend">
                        <label for="number">Amount:</label>
                        <input type="number" id="number" name="number" min="0" max="0" />
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
            <script src="{{ url_for('static', filename='script.js') }}"></script>
      </body>
</html>
